<div class="container">
  <h2>Scegli un'immagine per {{title}}</h2>
  <div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-6">
      <form class="form-inline" role="form">
        <a role="button" class="btn btn-primary" ng-click="onImageLoad()">Carica una foto</a>
        <div class="input-group" style="float: right;">
          <span class="input-group-addon"><span class="text-muted glyphicon glyphicon-search" aria-hidden="true"></span></span>
          <input id="search" type="text" class="form-control" placeholder="Cerca" ng-model="search.name">
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6" align="right">
      <form class="form-inline" role="form">
        <a role="button" class="btn btn-primary" ng-click="onOkClicked()">Ok</a>
        <a role="button" class="btn btn-default" ng-click="onCancelClicked()">Annulla</a>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <alert ng-show="alert" type="{{alert.type}}" close="onCloseAlert()">{{alert.msg}}</alert>
    <div class="col-lg-6 col-sm-6 col-xs-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Album</li>
        <li ng-class="albumRowClass($index)" ng-repeat="album in f_albums = (albums | filter: search) | orderBy: '+name'| startFrom : firstVisibleItem | limitTo : itemsPerPage " ng-click="onAlbumClicked($index, album)">{{album.name}}</li>
      </ul>
      <pagination total-items="f_albums.length" items-per-page="itemsPerPage" max-size="5" rotate="false" ng-model="currentPage" ng-change="onPageChanged()"></pagination>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6">
      <ul ng-show="images.length > 0" class="list-group">
        <li class="list-group-item list-group-item-info">Immagini{{albumName}}</li>
        <li ng-class="imageRowClass($index)" ng-repeat="image in images">
          <img class="thumbnail img-responsive" ng-src="{{image.img}}" ng-click="onImageClicked($index, image)">
        </li>
      </ul>
    </div>
  </div>
</div> <!-- /container -->
