<div class="container">
  <h2>Ricettario</h2>
  <br/>
  <alert ng-show="alert" type="{{alert.type}}" close="onCloseAlert()">{{alert.msg}}</alert>
  <br/>
  <div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6">
      <h3>Aggiungi una ricetta</h3>
      <a role="button" class="btn btn-default" href="#/calculator">
        <span class="text-muted glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>
    <div ng-repeat="meal in meals" class="col-lg-3 col-sm-4 col-xs-6">
      <h3>{{meal.name}}</h3>
      <img ng-show="meal.imageURL" class="thumbnail img-responsive" ng-src="{{meal.imageURL}}"/>
      <p ng-repeat="mealItem in meal.mealItems">{{mealItem.qty}} gr. {{mealItem.food.name}}</p>
      <span class="text-muted glyphicon glyphicon-pencil" aria-hidden="true" ng-click="onEditClicked(meal)"></span>
      <span class="text-muted glyphicon glyphicon-duplicate" aria-hidden="true" ng-click="onDuplicateClicked(meal)"></span>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span class="text-muted glyphicon glyphicon-remove" aria-hidden="true" ng-click="onRemoveClicked(meal, $index)"></span>
    </div>
  </div>
</div> <!-- /container -->
