<div class="container">
  <div class="row" >
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-10">
      <h2>Ricettario</h2>
    </div>
    <div align="right" class="visible-xs-block col-xs-2">
      <br/>
      <a role="button" class="btn btn-default" href="#/calculator"><span class="text-muted glyphicon glyphicon-plus" aria-hidden="true"></a>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <form class="form-inline row" role="form" >
        <br class="hidden-xs" />
        <div class="form-group col-sm-6 row" >
          <div class="input-group col-xs-11 has-feedback">
            <span class="input-group-addon"><span class="text-muted glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input id="search" type="text" class="form-control" placeholder="Cerca" ng-model="search.name">
            <span class="glyphicon glyphicon-remove form-control-feedback h4z-clickable-form-control-feedback" aria-hidden="true" role="button" ng-click="search.name = ''"></span>
          </div>
        </div>
        <div class="form-group col-sm-6 row">
            <tags-input id="tags" type="text" class="" placeholder="Etichette" ng-model="tags" add-from-autocomplete-only="true">
              <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
        </div>
      </form>
    </div>
    <div align="right" class="hidden-xs col-lg-2 col-md-2 col-sm-3">
      <br/>
      <a role="button" class="btn btn-default" href="#/calculator"><span class="text-muted glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Aggiungi una ricetta</a>
    </div>
  </div>
  <div class="row" ng-show="alert">
    <br class="visible-xs-block" />
    <alert type="{{alert.type}}" close="onCloseAlert()">{{alert.msg}}</alert>
  </div>
  <div class="row">
    <div ng-repeat="meal in f_meals = (meals | filter: search | withTags: tags | orderBy : '+name') | startFrom : firstVisibleItem | limitTo : itemsPerPage" class="col-md-4 col-sm-6 h4z-meal-cell" role="button" ng-click="onMealClicked(f_meals, $index)">
      <h4 class="h4z-meal-title">
        <span style="display:inline-block; font-size:16px" ng-show="meal.userId" class="text-info glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>
        <span ng-show="!meal.recipeURL">
          {{meal.name}}
        </span>
        <span ng-show="meal.recipeURL">
          <a href="{{meal.recipeURL}}">
            {{meal.name}}&nbsp;
            <span style="display:inline-block; font-size:16px; color:inherit"  class="text-info glyphicon glyphicon-cutlery" aria-hidden="true"></span>
          </a>
        </span>
      </h4>
      <div class="media h4z-media">
        <div class="media-left h4z-media-left">
          <table height="180px">
          <tr><td class="h4z-meal-right-pane" colspan=3 style="vertical-align:top; height:100px; padding-right:10px;padding-left:10px;"><img class="media-object" ng-src="{{(meal.imageURL) ? meal.imageURL : noImage}}"/></td></tr>
            <tr><td class="h4z-meal-right-pane small" colspan=3 align="center"><span class="badge h4z-calories-label">{{meal.totCalories}}</span> calorie&nbsp;<span class="badge">{{meal.blocks}}</span> blocchi</td></tr>
            <tr height=40px><td class="h4z-meal-right-pane small text-info" colspan=3 align="center"><em>{{tagsList(meal)}}</em></td></tr>
            <tr height="100%">
              <td width="30px" class="h4z-meal-right-pane" style="vertical-align:bottom"><span class="h4z-icon-button text-muted glyphicon glyphicon-duplicate" aria-hidden="true" ng-click="onDuplicateClicked(meal, $event)"></span></td>
              <td width="30px" class="h4z-meal-right-pane" style="vertical-align:bottom"><span class="h4z-icon-button text-muted glyphicon glyphicon-pencil " aria-hidden="true" ng-click="onEditClicked(meal, $event)" ng-show="isOwner(meal)"></span></td>
              <td align="right" class="h4z-meal-right-pane" style="vertical-align:bottom"><span class="h4z-icon-button text-muted glyphicon glyphicon-remove" aria-hidden="true" ng-click="onRemoveClicked(meal, $index, $event)" ng-show="isOwner(meal)"></span></td>
            </tr>
          </table>
        </div>
        <div class="media-body" style="position: relative" >
          <table width=100% class="h4z-meal-items-table" h4z-check-overflow="isOverflow">
            <tr ng-repeat="mealItem in meal.mealItems"><td style="vertical-align:top" align="right" width="50px">{{mealItem.qty}} <small>gr.</small>&nbsp;</td><td>{{mealItem.food.name}}</td>
          </table>
          <div class="h4z-more-indicator" ng-show="isOverflow"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
          </div>
        </div>
      </div>
    </div>
    <div ng-init="OnGalleryCompleted()"></div>
  </div>
  <div class="row">
    <pagination total-items="f_meals.length" items-per-page="itemsPerPage" max-size="5" rotate="false" ng-model="currentPage" ng-change="onPageChanged()"></pagination>
  </div>
</div> <!-- /container -->


<script type="text/ng-template" id="ui_mealCarousel.html">
   <div class="modal-body">
     <carousel id="mealCarousel" interval="-1">
       <slide ng-repeat="meal in meals | orderBy : '+name'" active="meal.active">
        <h4 class="h4z-meal-title"><span style="display:inline-block; float:left; font-size:16px" ng-show="meal.userId" class="text-info glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>{{meal.name}}</h4>
         <div class="media">
          <div class="media-left">
            <table>
              <tr><td style="vertical-align:top; height:150px"><img class="media-object h4z-img-responsive" ng-src="{{(meal.bigImageURL) ? meal.bigImageURL : noImage}}" style="margin:auto;"/></td></tr>
              <tr><td style="padding-bottom: 5px; align=center"><span class="badge h4z-calories-label">{{meal.totCalories}}</span> calorie&nbsp;&nbsp;<span class="badge">{{meal.blocks}}</span> blocchi</td></tr>
              <tr><td style="padding-bottom: 5px; align=center"><span class="badge proteins-label">P {{meal.blockProteins | number:1}}</span>&nbsp;<span class="badge fats-label">G {{meal.blockFats | number:1}}</span>&nbsp;<span class="badge carbohydrates-label">C {{meal.blockCarbohydrates | number:1}}</span></td></tr>
              <tr><td style="padding-bottom: 5px; align=center"><span ng-repeat="tag in meal.tags"> <span class="badge h4z-tags-badge">{{tag.text}}</span>&nbsp;</span></td></tr>
            </table>
          </div>
          <div class="media-body">
            <table>
              <tr ng-repeat="mealItem in meal.mealItems">
                <td class="text-center" width=15><image width=15 ng-src="{{sourceImage(mealItem.food)}}"></td>
                <td style="vertical-align:top" align="right" width="60px">{{mealItem.qty}} <small>gr.</small>&nbsp;</td>
                <td align="left">{{mealItem.food.name}}</td>
              </tr>
            </table>
          </div>
         </div>
       </slide>
  </carousel>
  <a style="position: absolute; bottom:0; right:15px;" ng-show="RecipeURL()" ng-href="{{RecipeURL()}}" target="_blank">
    <span style="display:inline-block; font-size:16px; color:inherit"  class="text-info glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    &nbsp;Vedi la ricetta
  </a>
  </div>
   <div class="modal-footer">
    <div class="h4z-div-left-inline"><button class="btn btn-default" type="button" ng-click="onActionClicked('duplicate')"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span><span class="hidden-xs">&nbsp;&nbsp;Copia</span></button></div>
    <div class="h4z-div-left-inline"><button class="btn btn-default" type="button" ng-click="onActionClicked('edit')" ng-show="isOwner()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="hidden-xs">&nbsp;&nbsp;Modifica</span></button></div>
    <div class="h4z-div-left-inline"><button class="btn btn-default" type="button" ng-click="onActionClicked('remove')" ng-show="isOwner()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hidden-xs">&nbsp;&nbsp;Elimina</span></button></div>
    <button class="btn btn-default" type="button" ng-click="onCloseClicked()">Chiudi</button>
   </div>
 </script>
