<div class="container">
  <br/>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <form role="form" class="form-horizontal">
        <div class="form-group">
            <input id="name" type="text" class="form-control input-lg" placeholder="Dai un nome al tuo pasto" ng-model="meal.name" ng-change="onMealNameChanged()" ng-model-options="{ updateOn: 'blur' }">
        </div>
      </form>
    </div>
  </div>
  <div class="row visible-xs">
    <a ng-show="!meal.imageCoord" class="h4z-hyperlink small" ng-click="onPickImageClicked()">Associa un'immagine</a>
    <button ng-show="meal.imageCoord" class="btn btn-default btn-xs" ng-click="onRemoveImageClicked()"><span class="text-muted glyphicon glyphicon-remove"></span>&nbsp;&nbsp; Elimina immagine</button>
    <img ng-show="imageURL" class="thumbnail img-responsive" ng-src="{{imageURL}}"/>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="table-responsive">
        <table class="table table-condensed">
          <tr ng-repeat="mealItem in meal.mealItems">
            <td class="text-center" width=20><image width=20 ng-src="{{sourceImage(mealItem.food)}}"></td>
            <td width=60 class="text-right">{{ mealItem.qty }} gr.</td>
            <td class="text-left">{{ mealItem.food.name }}</td>
          </tr>
        </table>
      </div>
      <div class="row" ng-show="!isNew">
        <button class="btn btn-default btn-xs" ng-click="onChangeIngredientsClicked()"><span class="text-muted glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Cambia il contenuto del pasto</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
      <a ng-show="!meal.imageCoord" class="h4z-hyperlink small" ng-click="onPickImageClicked()">Associa un'immagine</a>
      <button ng-show="meal.imageCoord" class="btn btn-default btn-xs" ng-click="onRemoveImageClicked()"><span class="text-muted glyphicon glyphicon-remove"></span>&nbsp;&nbsp; Elimina immagine</button>
      <img class="thumbnail img-responsive" ng-src="{{(imageURL) ? imageURL : noImage}}"/>
    </div>
  </div>
  <br class="visible-xs"/>
  <div class="row">
    <p>Calorie totali <span class="badge">{{meal.totCalories}}</span></p>
    <alert ng-show="alert" type="{{alert.type}}" close="onCloseAlert()">{{alert.msg}}</alert>
    <div ng-show="isNew" class="btn-group col-sm-offset-2">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="onAddClicked()">Aggiungi</button>
      </div>
      <div class="btn-group">
        <a role="button" class="btn btn-default" ng-click="onCancelClicked()">Annulla</a>
      </div>
    </div>
    <div ng-show="!isNew" class="btn-group col-sm-offset-2">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="onUpdateClicked()">Aggiorna</button>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="onRemoveClicked()">Elimina</button>
      </div>
      <div class="btn-group">
        <a role="button" class="btn btn-default" ng-click="onCancelClicked()">Annulla</a>
      </div>
    </div>
  </div>
</div> <!-- /container -->
