<div class="container">
  <br/>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <form role="form" class="form-horizontal">
        <div class="form-group">
            <input id="name" type="text" class="form-control input-lg" placeholder="Dai un nome al tuo pasto" ng-model="meal.name" ng-change="onMealNameChanged()" ng-model-options="{ updateOn: 'blur' }">
        </div>
      </form>
    </div>
  </div>
  <div class="row visible-xs">
    <a ng-show="!meal.imageCoord" class="h4z-hyperlink small" ng-click="onPickImageClicked()">Associa un'immagine</a>
    <button ng-show="meal.imageCoord" class="btn btn-default btn-xs" ng-click="onRemoveImageClicked()"><span class="text-muted glyphicon glyphicon-remove"></span>&nbsp;&nbsp; Elimina immagine</button>
    <img ng-show="imageURL" class="thumbnail img-responsive" ng-src="{{imageURL}}"/>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="table-responsive">
        <table class="table table-condensed">
          <tr ng-repeat="mealItem in meal.mealItems">
            <td class="text-center" width=20><image width=20 ng-src="{{sourceImage(mealItem.food)}}"></td>
            <td width=60 class="text-right">{{ mealItem.qty }} gr.</td>
            <td class="text-left">{{ mealItem.food.name }}</td>
          </tr>
        </table>
      </div>
      <div class="row" ng-show="!isNew">
        <button class="btn btn-default btn-xs" ng-click="onChangeIngredientsClicked()"><span class="text-muted glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Cambia il contenuto del pasto</button>
      </div>
      <hr class="hidden-xs"/>
      <div class="row visible-xs">
        <label class="control-label col-xs-8">Procedimento</label>
        <div class="col-xs-12">
          <textarea id="directions" class="form-control" type="text" ng-model="meal.directions" rows="3"></textarea>
        </div>
      </div>
    <table>
        <tr><td style="padding-right: 10px;">Calorie totali</td><td><span class="badge h4z-calories-label">{{meal.totCalories}}</span></td></tr>
        <tr><td style="padding-right: 10px;">Blocchetti</td><td><span class="badge proteins-label">P {{meal.blockProteins | number:1}}</span>&nbsp;<span class="badge fats-label">G {{meal.blockFats | number:1}}</span>&nbsp;<span class="badge carbohydrates-label">C {{meal.blockCarbohydrates | number:1}}</span></td></tr>
        <tr><td style="padding-right: 10px;">Blocchi</td><td><span class="badge">{{meal.blocks}}</span></td></tr>
      </table>
      <hr />
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">Etichette</label>
          <div>
            <tags-input class="col-xs-10" id="tags" type="text" ng-model="meal.tags" placeholder="Aggiungi" add-from-autocomplete-only="true">
            <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
          </div>
        </div>
      </form>
      <span class="help-block small" >Le etichette sono utili per trovare rapidamente un certo tipo di pasto.<br/>
        Scegli fra: Pasto o Spuntino, Colazione, Pranzo o Cena, Estivo oppure Invernale.</span>
      </div>
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
      <a ng-show="!meal.imageCoord" class="h4z-hyperlink small" ng-click="onPickImageClicked()">Associa un'immagine</a>
      <button ng-show="meal.imageCoord" class="btn btn-default btn-xs" ng-click="onRemoveImageClicked()"><span class="text-muted glyphicon glyphicon-remove"></span>&nbsp;&nbsp; Elimina immagine</button>
      <img class="thumbnail img-responsive" ng-src="{{(imageURL) ? imageURL : noImage}}"/>
      <form role="form" class="form">
        <label class="control-label col-xs-8">Link alla ricetta</label><a class="col-xs-2" style="text-align:right;" href="{{meal.recipeURL}}" target="_blank">vai</a>
        <div class="col-xs-10">
          <div class="form-group has-feedback">
            <input id="recipeURL" class="form-control" type="text" ng-model="meal.recipeURL">
            <span class="glyphicon glyphicon-remove form-control-feedback h4z-clickable-form-control-feedback" aria-hidden="true" role="button" ng-click="meal.recipeURL = ''"></span>
          </div>
        </div>
        <label class="control-label col-xs-8">Procedimento</label>
        <div class="col-xs-12">
          <textarea id="directions" class="form-control" type="text" ng-model="meal.directions" rows="5"></textarea>
        </div>
       
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
  </div>
  <div class="row">
    <alert ng-show="alert" type="{{alert.type}}" close="onCloseAlert()">{{alert.msg}}</alert>
    <div ng-show="isNew" class="btn-group col-sm-offset-2">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="onAddClicked()">Aggiungi</button>
      </div>
      <div class="btn-group">
        <a role="button" class="btn btn-default" ng-click="onCancelClicked()">Annulla</a>
      </div>
    </div>
    <div ng-show="!isNew" class="btn-group col-sm-offset-2">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="onUpdateClicked()">Aggiorna</button>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="onRemoveClicked()">Elimina</button>
      </div>
      <div class="btn-group">
        <a role="button" class="btn btn-default" ng-click="onCancelClicked()">Annulla</a>
      </div>
    </div>
  </div>
</div> <!-- /container -->
