<div class="container">
  <div class="row" >
    <h2>Planner</h2>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="onChangeWeekClicked(-1)">&lt;</button>
    <button class="btn btn-default" ng-click="onChangeWeekClicked(1)">&gt;</button>
    <div class="lead" style="display:inline; ">Settimana dal {{startDate | date:'d/M/yyyy'}} al {{endDate | date:'d/M/yyyy'}}</div>
  </div>
  <div class="row" ng-show="alert">
    <br class="visible-xs-block" />
    <alert type="{{alert.type}}" close="onCloseAlert()">{{alert.msg}}</alert>
  </div>
  <div class="row" >
    <table border="1px solid" class = "table table-condensed">
      <tr>
        <th width="10px" class="h4z-planner-titles">&nbsp;</th>
        <th width="14%" ng-repeat="day in dayNames" ng-style="{{ {'background-color':backgroundColor($index,'th')} }}" class="h4z-planner-titles">{{day}}</th>
      </tr>
      <tr ng-repeat="kind in mealKinds" ng-init="kIndex = $index">
          <td ng-show="!kind.short" width="10px" height="100px" class="h4z-planner-titles" ><div class="h4z-vertical-text"><strong>{{kind.name}}</strong></div></td>
          <td ng-show="!kind.short" width="14%" style="max-width:1px; position:relative" ng-repeat="day in dayNames" h4z-meal-for="meal=mealFor($index, kind.name)" ng-style="{{  {'background-color':backgroundColor($index,'td')} }}" ng-click="onChangeMealClicked($index, kind.name, $event)" >
            <div ng-show="!meal" class="h4z-planner-placeholder">
              <span class="h4z-glyphicon-placeholder glyphicon glyphicon-plus" aria-hidden="true"></span>
            </div>
            <div ng-show="meal" ng-click="onDailyDetailClicked($index, $event)">
              <div class="h4z-planner-meal-title">
                <small><strong>{{meal.name}}</strong></small>
              </div>
              <div style="position:relative">
                <table width=100% class="h4z-planner-meal-items-table">
                  <tr ng-repeat="mealItem in meal.mealItems">
                    <td style="vertical-align:top" align="right" width="45px"><small>{{mealItem.qty}} gr.</small>&nbsp;</td>
                    <td align="left"><small>{{mealItem.food.name}}</small></td>
                  </tr>
                </table>
              </div>
              <div class="h4z-planner-meal-bottom" >
                <div style="float:left"><span class="h4z-icon-button text-muted glyphicon glyphicon-retweet" aria-hidden="true" ng-click="onChangeMealClicked($index, kind.name, $event)"></span></div>
                <div style="float:right"><span class="h4z-icon-button text-muted glyphicon glyphicon-remove" aria-hidden="true" ng-click="onRemoveMealClicked($index, kind.name, $event)"></span></div>
              </div>
            </div>
          </td>

          <td ng-show="kind.short" width="10px" height="20px" class="h4z-planner-titles">&nbsp;</td>
          <td ng-show="kind.short" width="14%" ng-repeat="day in dayNames" style="text-align:center; vertical-align:middle" ng-style="{{todayStyle($index,'td')}}">
            <em>{{kind.name}}</em>
          </td>
      </tr>
      <tr style="border:0px;">
        <td width="10px" style="border:0px;">&nbsp;</th>
        <td width="14%" ng-repeat="day in dayNames" style="border:0px">&nbsp;</td>
      </tr>
      <tr>
        <td width="10px" >&nbsp;</th>
        <td width="14%" ng-repeat="day in dayNames" style="text-align:center">
          <input type="text" class="form-control" ng-model="thisWeek[$index].notes" ng-change="onNotesChanged($index)" ng-model-options="{ updateOn: 'blur' }">
        </td>
      </tr>
    </table>
  </div>

</div> <!-- /container -->

<script type="text/ng-template" id="ui_dailyPlan.html">
  <div class="modal-header" style="background-color:mintcream">
    <div style="display:inline-block"><h3 class="modal-title">{{dayName}}</h3></div>
    <div class="h4z-div-right-inline"><button class="btn btn-default" type="button" ng-click="onCloseClicked()">Chiudi</button></div>
    <!-- <button class="btn btn-default" type="button" ng-click="onCloseClicked()">Chiudi</button>-->
  </div>
  <div class="modal-body">
   <table>
   <tr ng-repeat="meal in dailyPlan.meals">
     <td width="5%" style="border-right: 1px solid">
     <div class="h4z-vertical-text"><h4>{{meal.kind}}</h4></div>
     </td>
     <td style="padding:3px">
      <h4 class="h4z-meal-title" style="margin-top:0;"><span style="display:inline-block; float:left; font-size:16px" ng-show="meal.meal.userId" class="text-info glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>{{meal.meal.name}}</h4>
       <div class="media">
        <div class="media-left">
          <table>
            <tr><td style="vertical-align:top; height:150px"><img class="media-object h4z-img-responsive" ng-src="{{(meal.meal.bigImageURL) ? meal.meal.bigImageURL : noImage}}" style="margin:auto;"/></td></tr>
            <tr><td style="padding-bottom: 5px; text-align:center"><span class="badge h4z-calories-label">{{meal.meal.totCalories}}</span> calorie&nbsp;&nbsp;<span class="badge">{{meal.meal.blocks}}</span> blocchi</td></tr>
            <tr><td style="padding-bottom: 5px; text-align:center"><span class="badge proteins-label">P {{meal.meal.blockProteins | number:1}}</span>&nbsp;<span class="badge fats-label">G {{meal.meal.blockFats | number:1}}</span>&nbsp;<span class="badge carbohydrates-label">C {{meal.meal.blockCarbohydrates | number:1}}</span></td></tr>
            <tr><td style="padding-bottom: 5px; text-align:center"><span ng-repeat="tag in meal.meal.tags"> <span class="badge h4z-tags-badge">{{tag.text}}</span>&nbsp;</span></td></tr>
          </table>
        </div>
        <div class="media-body">
          <table>
            <tr ng-repeat="mealItem in meal.meal.mealItems">
              <td class="text-center" width=15><image width=15 ng-src="{{sourceImage(mealItem.food)}}"></td>
              <td style="vertical-align:top" align="right" width="60px">{{mealItem.qty}} gr. </td>
              <td align="left">{{mealItem.food.name}}</td>
            </tr>
          </table>
        </div>
        <div style="float:right">
          <a ng-show="meal.meal.recipeURL" ng-href="{{meal.meal.recipeURL}}" target="_blank">
            <span style="display:inline-block; font-size:16px; color:inherit"  class="text-info glyphicon glyphicon-cutlery" aria-hidden="true"></span>
            &nbsp;Vedi la ricetta
          </a>
        </div>
       </div>
     </td>
   </tr>
   </table>
  </div>
 </script>
