<div class="container">
  <div class="row" >
    <h2>Planner</h2>
  </div>
  <div class="row" >
    <div class="lead">Settimana dal {{startDate | date:'d/M/yyyy'}} al {{endDate | date:'d/M/yyyy'}}</div>
  </div>
  <div class="row" >
    <table border="1px solid" class = "table table-condensed">
      <tr>
        <th width="10px" class="h4z-planner-titles">&nbsp;</th>
        <th width="14%" ng-repeat="day in dayNames" ng-style="{{todayStyle($index,'th')}}" class="h4z-planner-titles">{{day}}</th>
      </tr>
      <tr ng-repeat="kind in mealKinds" ng-init="kIndex = $index" style="vertical-align:center">
          <td ng-show="!kind.short" width="10px" height="100px" class="h4z-planner-titles" ><div class="h4z-vertical-text"><strong>{{kind.name}}</strong></div></td>
          <td ng-show="!kind.short" width="14%" ng-repeat="day in dayNames" style="text-align:center; vertical-align:middle" ng-style="{{todayStyle($index,'td')}}" ng-click="onMealClicked($index, kind.name)" ng-init="meal=mealFor($index, kind.name)">
            <span ng-show="!meal" class="h4z-glyphicon-placeholder glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span ng-show="meal">{{meal.name}}</span>
          </td>

          <td ng-show="kind.short" width="10px" height="20px" class="h4z-planner-titles">&nbsp;</td>
          <td ng-show="kind.short" width="14%" ng-repeat="day in dayNames" style="text-align:center; vertical-align:middle" ng-style="{{todayStyle($index,'td')}}">
            <em>{{kind.name}}</em>
          </td>
      </tr>
      <tr style="border:0px;">
        <td width="10px" style="border:0px;">&nbsp;</th>
        <td width="14%" ng-repeat="day in dayNames" style="border:0px">&nbsp;</td>
      </tr>
      <tr>
        <td width="10px" >&nbsp;</th>
        <td width="14%" ng-repeat="day in dayNames" style="text-align:center">
          <!-- {{thisWeek[$index].notes}} -->
          <input type="text" class="form-control" ng-model="thisWeek[$index].notes">
        </td>
      </tr>
    </table>
  </div>

</div> <!-- /container -->
