<div class="container">
  <p/>
  <div id="resetPassword-container" class="col-lg-offset-4 col-lg-4 col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center">Sostituzione password dimenticata</div>
      <div class="panel-body">
        <form name="form" class="" method="post" novalidate="" ng-submit="onChangePasswordClicked()">
          <div >
            <div class="form-group" ng-class="{ 'has-error': badPin}">
              <span class="help-block">Inserisci il Codice di Sicurezza ricevuto via e-mail</span>
              <input name="pin" class="form-control" id="pin" required="" type="text" ng-model="formData.pin" ng-disabled="acceptedPin">
              <span class="help-block" ng-show="badPin">Il codice indicato non è valido.</span>
            </div>
            <button type="button" class="btn btn-primary" ng-click="onConfirmPinClicked()" ng-disabled="acceptedPin">Conferma</button>
          </div>
          <div ng-show="form.pin.$dirty &amp;&amp; acceptedPin">
            <span class="help-block">Bentornato <b>{{formData.name}}</b>! Puoi impostare una nuova password in sostituzione di quella che hai dimenticato</span>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }">
              <label class="control-label" for="password">Nuova password</label>
              <input name="password" class="form-control" id="password" required="" type="password" ng-model="formData.password" match="formData.verification">
              <span class="help-block" ng-show="form.password.$dirty &amp;&amp; form.password.$error.required">Inserire una password.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.verification.$dirty &amp;&amp; form.verification.$error.match &amp;&amp; !form.verification.$error.required }">
              <label class="control-label" for="verification">Ripeti nuova password</label>
              <input name="verification" class="form-control" id="verification" required="" type="password" ng-model="formData.verification" ng-model-options="{ updateOn: 'blur' }" match="formData.password">
              <span class="help-block" ng-show="form.verification.$dirty &amp;&amp; form.verification.$error.required">Inserire nuovamente la password.</span>
              <span class="help-block" ng-show="form.verification.$dirty &amp;&amp; form.verification.$error.match &amp;&amp; !form.verification.$error.required">Le due password non corrispondono.</span>
            </div>
            <input type="submit" class="btn btn-primary" value="Cambia password" ng-disabled="form.$invalid">
          </div>
          <div id="user-alert">
            <div  class="alert alert-success" role="alert" ng-show="sentEmail">
              La tua password è stata modificata correttamente.</br>
              Ti abbiamo inviato una e-mail di conferma, controlla di averla ricevuta.
            </div>
            <p ng-show="sentEmail"><a class="btn btn-default" href="#/login" role="button">Entra &raquo;</a></p>
            <div  class="alert alert-danger" role="alert" ng-show="errors">
              Non è stato possibile modificare la tua password a causa di un errore, prova nuovamente più tardi.
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
