<!DOCTYPE html>
<html lang="en" ng-app="hungry4zone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hungry4Zone - Gustose ricette per la tua dieta a zona</title>

    <!-- Bootstrap core CSS (via CDN)-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link rel='stylesheet' href='/stylesheets/h4z.css' />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Hungry 4 Zone</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Planner Pasti</a></li>
            <li><a href="#/calculator">Calcolatore</a></li>
          </ul>
          <form ng-show="loggedUser" class="navbar-form navbar-right">
            <div class="form-group text-white">
              Utente: {{loggedUser.name}}&nbsp;&nbsp;&nbsp;
            </div>
            <a role="button" class="btn btn-success" href="#/logout">Esci</a>
          </form>
          <form ng-show="!loggedUser" class="navbar-form navbar-right">
            <a role="button" class="btn btn-success" href="#/login">Entra</a>
            <div class="form-group text-white">
              &nbsp;&nbsp;&nbsp;oppure&nbsp;<a href="#/signup">Registrati</a>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <ng-view></ng-view>

    <div class="container">
      <hr>
      <footer>
        <p>&copy; Hungry4Zone 2015</p>
      </footer>
    </div>

    <!-- Libraries -->
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-resource.min.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="/javascripts/raphael.2.1.0.min.js"></script>
    <script src="/javascripts/justgage.1.0.1.min.js"></script>

    <script>
      //---------------
      // Main app
      //---------------

      var app = angular.module("hungry4zone", ['ngRoute', 'ngResource', 'ui.bootstrap']);
    </script>

    <!-- Services  -->
    <script src="/ui/factories.js"></script>

    <!-- Controllers -->
    <script src="/ui/ui_home.js"></script>
    <script src="/ui/ui_calculator.js"></script>
    <script src="/ui/ui_foods.js"></script>
    <script src="/ui/ui_navbar.js"></script>
    <script src="/ui/ui_foodDetails.js"></script>
    <script src="/ui/ui_upload.js"></script>
    <script src="/ui/ui_signup.js"></script>
    <script src="/ui/ui_login.js"></script>
    <script src="/ui/ui_logout.js"></script>

    <script>
      //---------------
      // Routes
      //---------------

      //=============================================================================
      app.config(['$routeProvider', function ($routeProvider) {
        $routeProvider
          .when('/', {
            templateUrl: '/ui/ui_home.html',
            controller: 'HomeController'
          })
          .when('/calculator', {
            templateUrl: '/ui/ui_calculator.html',
            controller: 'CalculatorController'
          })
          .when('/foods', {
            templateUrl: '/ui/ui_foods.html',
            controller: 'FoodsController'
          })
          .when('/foods/:alert', {
            templateUrl: '/ui/ui_foods.html',
            controller: 'FoodsController'
          })
          .when('/upload', {
            templateUrl: '/ui/ui_upload.html',
            controller: 'UploadController'
          })
          .when('/foodDetail/:id', {
            templateUrl: '/ui/ui_foodDetails.html',
            controller: 'FoodDetailController'
          })
          .when('/signup', {
            templateUrl: '/ui/ui_signup.html',
            controller: 'SignupController'
          })
          .when('/signupResult', {
            templateUrl: '/ui/ui_signupResult.html',
            controller: 'SignupController'
          })
          .when('/login', {
            templateUrl: '/ui/ui_login.html',
            controller: 'LoginController'
          })
          .when('/logout', {
            templateUrl: '/ui/ui_logout.html',
            controller: 'LogoutController'
          })
          .when('/forgotPassword', {
            templateUrl: '/ui/ui_forgotPassword.html',
            controller: 'LoginController'
          })
          .when('/resetPassword', {
            templateUrl: '/ui/ui_resetPassword.html',
            controller: 'LoginController'
          });
      }]);
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
