<!DOCTYPE html>
<html ng-app="hungry4zone">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/h4z.css' />
  </head>
  <body>

    <a href="#">Alimenti</a> <a href="#upload">Upload</a>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <hr>
    <p>Hungry4Zone c 2015</p>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <script>
      //---------------
      // Main app
      //---------------

      var app = angular.module("hungry4zone", ['ngRoute', 'ngResource']);
    </script>

    <!-- Services  -->
    <script src="/ui/factories.js"></script>

    <!-- Controllers -->
    <script src="/ui/ui_foods.js"></script>
    <script src="/ui/ui_foodDetails.js"></script>
    <script src="/ui/ui_upload.js"></script>

    <script>
      //---------------
      // Routes
      //---------------

      //=============================================================================
      app.config(['$routeProvider', function ($routeProvider) {
        $routeProvider
          .when('/', {
            templateUrl: '/ui/ui_foods.html',
            controller: 'FoodsController'
          })
          .when('/upload', {
            templateUrl: '/ui/ui_upload.html',
            controller: 'UploadController'
          })
          .when('/:id', {
            templateUrl: '/ui/ui_foodDetails.html',
            controller: 'FoodDetailController'
          });
      }]);
    </script>

  </body>
</html>
