/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.proteins {
  background-color:lavender;
}

.fats {
  background-color:mistyrose;
}

.carbohydrates {
  background-color:bisque;
}

.proteins-label {
  background-color:lightblue;
  color: #333;
}

.fats-label {
  background-color:pink;
  color: #333;
}

.carbohydrates-label {
  background-color:LightSalmon;
  color: #333;
}

.h4z-calories-label {
  background-color:LightGrey;
  color: #333;
}

#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}

#login-container #create-account {
  float: right;
}

#login-container #forgot-password {
  float: left;
}

#user-alert  {
  margin-top: 10px;
}

.text-white{
  padding-left: 20px;
  color:white;
}

.h4z-hyperlink {
    cursor: pointer;
}

.h4z-small-list-group-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

.h4z-meal-title {
    background-color: #F0F0F0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-bottom: 0px;
}

.h4z-meal-right-pane {
    background-color: #FBFBFB;
}

.h4z-meal-cell {
  padding-left: 5px;
  padding-right: 5px;
}

.h4z-media {
  margin-top: 0px;
}

.h4z-media-left {
  padding-right: 0px;
}

@media screen and (max-width: 992px) {
  .h4z-icon-button {
    font-size: 20px;
  }
}
