/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.proteins {
  background-color:lavender;
}

.fats {
  background-color:mistyrose;
}

.carbohydrates {
  background-color:bisque;
}

.proteins-label {
  background-color:lightblue;
}

.fats-label {
  background-color:pink;
}

.carbohydrates-label {
  background-color:LightSalmon;
}

#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}

#login-container #create-account {
  float: right;
}

#login-container #forgot-password {
  float: left;
}

#user-alert  {
  margin-top: 10px;
}

.text-white{
  padding-left: 20px;
  color:white;
}

.h4z-hyperlink {
    cursor: pointer;
}

.h4z-small-list-group-item {
  padding-top: 3px;
  padding-bottom: 3px;
}
