/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.proteins {
  background-color:lavender;
}

.fats {
  background-color:mistyrose;
}

.carbohydrates {
  background-color:bisque;
}

.proteins-label {
  background-color:lightblue;
  color: #333;
}

.fats-label {
  background-color:pink;
  color: #333;
}

.carbohydrates-label {
  background-color:LightSalmon;
  color: #333;
}

.h4z-calories-label {
  background-color:LightGrey;
  color: #333;
}
.h4z-tags-badge {
  background-color:#d9edf7;
  color: #333;
}

#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}

#login-container #create-account {
  float: right;
}

#login-container #forgot-password {
  float: left;
}

#user-alert  {
  margin-top: 10px;
}

.text-white{
  padding-left: 20px;
  color:white;
}

.h4z-hyperlink {
    cursor: pointer;
}

.h4z-small-list-group-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

.h4z-meal-title {
    background-color: #F0F0F0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow-x: hidden;
  }

.h4z-meal-right-pane {
    background-color: #F8F8F8;
    padding-top: 2px;
}

.h4z-meal-cell {
  padding-left: 5px;
  padding-right: 5px;
}

.h4z-media {
  margin-top: 0px;
}

.h4z-media-left {
  padding-right: 0px;
}

.h4z-div-left-inline {
  float:left;
  display:inline-block;
  padding-right:3px;
}

.h4z-div-right-inline {
  float:right;
  display:inline-block;
  padding-right:3px;
}

@media screen and (max-width: 992px) {
  .h4z-icon-button {
    font-size: 20px;
  }
}
.h4z-icon-button {
  cursor: pointer;
}

#mealCarousel .carousel-indicators {display:none}
#mealCarousel .carousel-control.left {background-image:none}
#mealCarousel .carousel-control.right {background-image:none}

.h4z-more-indicator {
  position: absolute;
  bottom: 0px;
  height: 15px;
  left: 50%;
  width: 100%;
  padding-left: 0;
  margin-left: -50%;
  text-align: center;
  background-image: linear-gradient(to top,rgba(0,0,150,.2) 0,rgba(0,0,150,.0001) 100%);
  background-repeat: repeat-y;
  color:white;
}

@media screen and (max-width: 768px) {
  .h4z-img-responsive {
    width: 128px;
  }
}

tags-input .host {
    margin-top: 0px;
    margin-bottom: 0px;
}

.h4z-meal-items-table {
  height: 180px;
  display: block;
  overflow-y: hidden;
}

.h4z-clickable-form-control-feedback {
  pointer-events: inherit;
}

.h4z-vertical-text {
  transform: rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform:rotate(90deg);
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  -moz-transform-origin: 50% 10%;
  -o-transform-origin: 50% 10%;
  -ms-transform-origin: 50% 10%;
  width:20px;
  height:100px;
}

.h4z-planner-titles {
  background-color: mintcream ;
  text-align:center;
}

.h4z-planner-meal-items-table {
  display: block;
  height:100%;
  overflow-x: hidden;
  white-space: nowrap;
  margin-bottom:20px;
}

.h4z-planner-meal-title {
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}

.h4z-planner-short-meal {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  max-width: 1px;
  overflow-x: hidden;
}

.h4z-planner-meal-bottom {
  position:absolute;
  bottom: 0;
  width:80%;
  margin-left:-40%;
  left:50%
}

.h4z-glyphicon-placeholder {
  color: lightgrey;
  font-size: 25px;
  cursor: pointer;
}

.h4z-planner-placeholder {
  position:absolute;
  left:50%;
  top:50%;
  /* glyphicon is 29x25 px*/
  margin-top:-15px;
  margin-left:-12px;
}

.h4z-hr-short {
  margin-top: 5px;
  margin-bottom: 5px;
}

.h4z-directions {
  white-space: pre-wrap;
}